body {
  background: #f5f2f2;
  background-image:url('');
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Roboto', sans-serif;
  border-top: 10px solid #679F92;
  border-bottom: 10px solid #679F92;
  }
  
